# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/

# Node
node_modules/
dist/
.vite/

# Misc
.DS_Store
*.log
*.sqlite
.env.local
.env.production
